@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Light.ttf");
  font-weight: "light";
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.ttf");
  font-weight: "light";
}

@font-face {
  font-family: "Gotham Black";
  src: url("/fonts/Gotham-Black.otf");
  font-weight: black;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("/fonts/BrandonGrotesque-Bold.ttf");
  font-weight: bold;
}
