:root {
  --main-font-family: "Open Sans", sans-serif;
  --primary-color: #ffbb42;
  --secondary-color: #709dca;
  --main-font-color: #7b7b7b;
  --additional-font-color: #394b50;
  --form-font-color: #a9a9a9;
  --white-font-color: #fff;
  --menu-font-color: #868686;
  --simple-background-color: #e7edf3;
  --form-icon-color: #6e6e6e;
  --feedback-author-color-1: #99a9ae;
  --feedback-author-color-2: #f6772c;

  --font-family-1: Lato;
  --font-family-2: "Gotham Black";
  --font-family-3: "Brandon Grotesque";

  --common-border-radius: 0.1538em;

  box-sizing: border-box;
  font-family: var(--main-font-family);
  font-size: 13px;
  line-height: 1.76;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* clear */
body {
  margin: 0;
  padding: 0;
}

.main-nav__list,
.services__list,
.prices__list,
.footer-nav__list,
.clients__list,
.social__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

/* класс, опускающий футер вниз экрана */
.page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 92.3076923rem;
  margin: 0 auto;
  padding-left: 1.153846rem;
  padding-right: 1.153846rem;
}

.section {
  padding-top: 3em;
  padding-bottom: 2em;
}

.logo {
  display: block;
  width: 3.8462rem;
  height: 3.8462rem;
}

/* Typography */

.heading,
.subtitle {
  text-align: center;
}

.heading {
  margin-top: 0;
  margin-bottom: 0.066666667em;
  font-family: var(--font-family-2);
  font-size: 2.3076923rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.0266666667em;
}

.subtitle {
  margin: 0.111111em 0;
  font-family: var(--font-family-1);
  font-size: 1.3846153rem;
  line-height: 1.2222;
  letter-spacing: -0.015em;
  color: var(--additional-font-color);
}

.heading + .subtitle {
  margin-top: -0.11111111em;
}

/* Button */

.button {
  display: inline-block;
  padding: 0.5714286em 1.4285714em 0.7142857em;
  border: initial;
  border-radius: var(--common-border-radius);
  cursor: pointer;
  font-family: var(--font-family-1);
  font-size: 1.076923rem;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.button_primary {
  background-color: var(--primary-color);
  color: var(--white-font-color);
}

.button_outline {
  border: 0.07142857em solid #e7ad48;
}

.button_outline:hover {
  border-color: var(--white-font-color);
}

.button_outline:active {
  border-color: var(--form-font-color);
}

/* Form */

.form {
  margin: 0;
  padding: 0;
}

.form__group {
  position: relative;
  margin: 0;
  color: var(--form-font-color);
}

.form__icon {
  position: absolute;
  left: 1em;
  top: 1.06666667em;
  font-size: 1.1538462rem;
  color: var(--form-icon-color);
}

.form__control {
  width: 100%;
  padding: 1.0769231em 1.5385em 1.15384615em 3.1538462em;
  border: initial;
  font-family: var(--main-font-family);
  font-size: 1rem;
  line-height: 1.3;
  border-radius: var(--common-border-radius);
}

.form__control::placeholder {
  color: var(--main-font-color);
}

.form__control_bordered {
  border: 0.0769231em solid var(--form-font-color);
}

@media (max-width: 720px) {
  .form {
    display: block;
    width: 280px;
    margin: 0 auto;
  }

  .form__group {
    margin-bottom: 1em;
    width: 100%;
  }

  .form__button {
    width: 100%;
    margin-top: 1.5em;
    height: 3em;
  }
}

@media (min-width: 720px) {
  .form_horizontal {
    display: flex;
    justify-content: center;
  }

  .form_horizontal > *:not(:first-child) {
    margin-left: 0.7692308em;
  }
}

/* Slider */
.slider {
  display: none;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 720px) {
  .slider {
    display: block;
  }
}

.slider__list {
  position: relative;
  left: 0;
  display: flex;
  padding: 0;
  margin: 0;
  transition: left 0.6s;
  list-style-type: none;
}

.slider__item {
  flex: 0 0 100%;
  text-align: center;
}

.slider__indicators {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 1.0769231em;
  padding: 0;
}

.slider__indicator {
  display: block;
  width: 1.15384615em;
  height: 1.15384615em;
  border: 0.1538em solid #dedfe0;
  border-radius: 50%;
  cursor: pointer;
}

.slider__indicator_active {
  border-color: #20aade;
}

.slider__indicator + .slider__indicator {
  margin-left: 0.6923077em;
}

.slider__cover {
  max-height: 26.5384615em;
}

/* Nav Menu */

.main-nav {
  padding: 1.5em 0 1.25925926em;

  font-family: var(--font-family-1);
  font-size: 1.03846154rem;

  text-transform: uppercase;
}

.main-nav__wrap {
  display: flex;
}

.main-nav__list {
  color: var(--menu-font-color);
}

@media (max-width: 720px) {
  .main-nav__list {
    padding: 2em 0;
  }
}

.main-nav__link {
  display: block;
  padding: 0.37037037em 1.43703703em 0.444444444em;

  border-radius: var(--common-border-radius);

  text-decoration: initial;
  color: inherit;
}

@media (min-width: 720px) {
  .main-nav__list {
    display: flex;
    margin-left: auto;
    margin-top: 0.66666667em;
  }

  .main-nav__item:first-child {
    margin-left: 80px;
  }
}

.main-nav__item_active > .main-nav__link {
  background-color: var(--primary-color);
  color: var(--white-font-color);
}

/* Menu */

.menu {
  position: relative;
}

.menu__toggle {
  display: none;
  position: relative;
  padding: 0.3em;
  margin-left: auto;
  width: 1em;
  height: 1em;
  align-self: center;
  background-color: var(--primary-color);
  border: none;
  overflow: hidden;
  cursor: pointer;

  font-size: 3rem;
  text-indent: 5em;
  white-space: nowrap;
  color: var(--white-font-color);
}

.menu__toggle::after {
  display: block;
  position: absolute;
  left: 0.2em;
  top: -0.05em;
  text-indent: 0;
  content: "\2261";
}

@media (max-width: 720px) {
  .menu__toggle {
    display: block;
  }

  .menu__dropdown {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 1em;
    background-color: var(--additional-font-color);
    color: var(--white-font-color);
    z-index: 10;
  }

  .menu_opened .menu__dropdown {
    display: block;
  }
}

/* Promo section */

.promo {
  padding: 2.692307692307em 0;
  background-color: var(--secondary-color);
  color: var(--white-font-color);
  text-align: center;
}

.promo__title {
  font-family: var(--font-family-2);
  font-size: 2.6153846rem;
  letter-spacing: -0.007352941em;
  line-height: 1;
  text-transform: uppercase;
}

.promo__subtitle {
  margin: 0;
  font-size: 1.2307692308rem;
  line-height: 1.2;
  font-weight: 300;
}

.promo__title + .promo__subtitle {
  margin-top: 0.1875em;
}

.promo__form {
  margin-top: 2em;
}

@media (min-width: 720px) {
  .promo {
    padding-top: 8.15384615em;
    background: linear-gradient(
      to bottom,
      var(--secondary-color) 81.4%,
      var(--white-font-color) 18.6%
    );
  }

  .promo__form {
    margin: 2.61538462em 0 5em;
  }

  .promo__field {
    width: 21.5rem;
  }

  .promo__submit {
    width: 16rem;
  }

  .promo__form {
    margin-right: 0.61538462em;
  }
}

/* services */

.services__item {
  position: relative;
  margin-bottom: 4.5em;
}

.services__item_highlight > .services__icon {
  color: var(--primary-color);
}

.services__name {
  margin-top: -0.3125em;
  text-transform: uppercase;
  font-size: 1.23076923rem;
  font-family: var(--font-family-1);
  font-weight: bold;
}

.services__desc {
  line-height: 1.76;
}

.services__name + .services__desc {
  margin-top: -0.846153846em;
}

.services__icon {
  font-size: 3.46153846rem;
  left: 0;
  top: 0;
  color: var(--secondary-color);
}

@media (max-width: 720px) {
  .services__list {
    margin-top: 2em;
  }

  .services__item {
    margin-bottom: 2em;
  }

  .services__icon {
    margin-bottom: 0.3em;
  }
}

@media (min-width: 720px) {
  .services {
    padding: 5em 0 6.30769231em;
  }

  .services__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6.923076923em;
  }

  .services__item {
    padding-left: 6.230769231em;
    flex: 1 0 45%;
  }

  .services__item:nth-child(2n) {
    margin-left: 4.61538462em;
  }

  .services__icon {
    position: absolute;
  }
}

/* About section */
.about {
  position: relative;
  background-color: var(--primary-color);
  color: var(--white-font-color);
  padding-left: 15px;
  padding-right: 15px;
}

.about {
  text-align: left;
}

.about__cover {
  display: none;
  width: 50%;
  height: 48.0769231rem;
  margin-left: auto;
  margin-right: 50%;
  text-align: right;
  overflow: hidden;
}

.about__image {
  display: block;
  margin-top: -0.84615385em;
}

.about__body {
  top: 0;
  bottom: 0;
  overflow: auto;
  left: 50%;
}

@media (min-width: 720px) {
  .about {
    padding: 0;
  }

  .about__cover {
    display: block;
  }

  .about__body {
    position: absolute;
    max-width: 45em;
    padding: 0;
    padding-top: 12.5em;
    padding-left: 6.15em;
  }

  .about__title {
    text-align: left;
  }
}
.about__text {
  line-height: 1.85;
  margin-bottom: 2.307692308em;
}

.about__title + .about__text {
  margin-top: 1.15384615em;
}

.about__button {
  padding-left: 2.307692308em;
  padding-right: 2.307692308em;
}

/* Pricing section */

.prices {
  background-color: var(--simple-background-color);
}

.prices .subtitle + .prices__list {
  margin-top: 3.692308em;
}

.prices__list {
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 720px) {
  .prices {
    padding: 10.1538462em 0 12.5384615em;
  }

  .prices__list {
    display: flex;
  }

  .prices__item {
    width: 33%;

    margin: 2.30769231em 0;
  }
}

.price-card {
  padding: 3.30769231em 2.30769231em 3.4615384615em;
  background-color: var(--white-font-color);
  border: 1px solid #ccd5df;
  border-radius: var(--common-border-radius);

  font-family: var(--font-family-1);
  font-weight: 300;
}

.price-card_highlight {
  border: 0;
  background-color: var(--secondary-color);

  color: var(--white-font-color);
}

@media (min-width: 720px) {
  .price-card_highlight {
    width: calc(33% + 0.6153846154em);
    margin: 0;

    padding-top: 5.615384615em;
    padding-bottom: 5.76923077em;
  }
}

.price-card__highlight .price-card__title,
.price-card_highlight .price-card__cost,
.price-card_highlight .price-card__frequency,
.price-card_highlight .price-card__adventages {
  color: inherit;
}

.price-card__title {
  margin: 0;
  margin-bottom: 0.6em;
  font-size: 1.92307692rem;
  font-weight: inherit;
}

.price-card__cost {
  margin: 0;
  margin-bottom: 0.53333333em;
  margin-left: -0.13333333em;
  font-size: 4.61538462rem;
  font-weight: bold;
  line-height: 1;
  color: var(--primary-color);
}

.price-card__currency {
  position: relative;
  left: 0.14285714em;
  font-size: 2.6923077rem;
}

.price-card__currency,
.price-card__frequency {
  margin: 0;
  font-weight: 300;
}

.price-card__frequency {
  display: block;
  margin-top: 0.22222222em;
  font-size: 1.03846154rem;
  color: var(--main-font-color);
}

.price-card__adventages {
  margin: 0;
  margin-bottom: 1.615384615em;
  padding: 0;
  color: #818b95;
  list-style-type: none;
}

.price-card__adventage {
  padding-top: 0.6923077em;
  padding-bottom: 0.615384615em;
  border-top: var(--simple-background-color) 0.076923077em solid;
}

/* Instructions section */
.instructions {
  text-align: center;
}

.instructions__steps {
  margin-top: 3em;
}

@media (min-width: 720px) {
  .instructions {
    padding: 11.69230769em 0;
  }

  .instructions__steps {
    margin-top: 5.7692307em;
  }
}

/* Stepper */
.stepper {
  margin-bottom: 5.76923077em;
  padding: 0 1.8461538462em;
  list-style-type: none;
}

.stepper__icon {
  font-size: 5.53846154em;
  color: var(--secondary-color);
}

.stepper__title {
  margin-top: 0.3em;
  margin-bottom: 0.55em;
  font-size: 1.53846154rem;
  font-family: var(--font-family-1);
  text-transform: uppercase;
}

.stepper__title + .stepper__desc {
  margin-top: 0.6em;
}

@media (min-width: 720px) {
  .stepper {
    display: flex;
  }

  .stepper__item {
    position: relative;
  }

  .stepper__item + .stepper__item {
    margin-left: 5.76923077em;
  }

  .stepper__item + .stepper__item::before {
    content: " ";
    display: block;
    position: absolute;
    left: -8.46153846em;
    width: 10em;
    height: 5.3846154em;
    border-top: 0.15384615em dotted var(--secondary-color);
    border-radius: 50%;
  }

  .stepper__title {
    margin-top: 2.95em;
  }
}

/* Clients section */

.clients {
  background-color: var(--primary-color);
  color: var(--white-font-color);
}

.clients__list {
  margin-top: 2em;
}

@media (min-width: 720px) {
  .clients {
    padding: 10.5384615em 0 10.76923077em;
  }

  .clients__list {
    margin-top: 4.46153846em;
    display: flex;
    flex-wrap: wrap;
  }

  .clients__item {
    flex: 1 0 40%;
  }

  .clients__item:nth-child(2n) {
    margin-left: 2.61538462em;
  }
}

/* Feedback */

.feedback {
  padding: 2em;
  margin-bottom: 1.5384615em;
  background-color: var(--white-font-color);
  color: var(--main-font-color);
}

.feedback__photo {
  left: 2.30769231em;
  top: 3.30769231em;
  width: 9.3079231em;
  height: 9.3079231em;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1em;
}

.feedback__image {
  width: 110%;
}

.feedback__content {
  position: relative;
  margin: 0;
  margin-top: --.30769231em;
  line-height: 1.69;
  /* quotes: "\2018""\2018""\201c""\201c"; */
}

.feedback__content::before,
.feedback__content::after {
  position: absolute;
  content: "\201c";
  font-size: 2.30769231rem;
  font-weight: bold;
  font-family: var(--font-family-3);
}

.feedback__content::before {
  top: -0.5em;
  left: -0.66666667em;
}

.feedback__content::after {
  display: inline-block;
  transform: scale(-1, 1);
  right: -0.66666667em;
  bottom: -0.8666666667em;
}

.feedback__author {
  margin: 0;
  margin-top: 1.30769231em;
  letter-spacing: 0.06923077em;
  color: var(--feedback-author-color-1);
  text-transform: uppercase;
}

.feedback__author-name {
  color: var(--feedback-author-color-2);
}

@media (max-width: 600px) {
  .feedback__photo {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 600px) {
  .feedback {
    position: relative;
    padding: 3.7em 2.3076923em 3.5em 14.076923077em;
  }

  .feedback__photo {
    position: absolute;
  }
}

/* Contacts section */

.contacts {
  background-image: url("/images/logo.png"), url("/images/map.jpg");
  background-position: center 52.3079231em, center 26.15384615em;
  background-repeat: no-repeat;
  padding-bottom: 4em;
}

.contacts__form {
  margin-top: 2.84615385em;
  margin-bottom: 3em;
}

@media (min-width: 720px) {
  .contacts {
    padding: 11.615384615em 0 22em;
  }

  .contacts__form {
    margin-bottom: 7.076923077em;
  }

  .contacts__field_name {
    width: 23.6923077rem;
  }

  .contacts__field_email {
    width: 29.84615385rem;
  }

  .contacts__submit {
    width: 16.76923077rem;
  }
}

.contacts__content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 21.5384615em;
  height: 21.5384615em;
  padding: 4.46153846em 5.384615385em;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--additional-font-color);
  border-radius: 50%;
  text-align: center;
  color: var(--white-font-color);
}

.contacts__content::after {
  content: " ";
  position: absolute;
  bottom: -1.5384615em;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 0.5384615em solid transparent;
  border-top: 1.076923077em solid var(--additional-font-color);
}

.contacts__title {
  margin: 0;
  margin-bottom: 0.43333333em;
  font-family: var(--font-family-1);
  font-weight: bold;
  font-size: 1.153846rem;
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;

  line-height: 1.85;
}

.contacts__email {
  color: var(--primary-color);
}

/* Footer section */

.main-footer {
  padding: 4.76923077em 0 0;
  border-top: 0.076923em solid var(--main-font-color);
  text-align: center;
}

.footer-nav__list {
  text-align: center;
  margin-bottom: 1.0769231em;
}

@media (min-width: 720px) {
  .footer-nav__list {
    display: flex;
    justify-content: center;
  }

  .footer-nav__item + .footer-nav__item {
    margin-left: 2.69230769em;
  }
}

.footer-nav__item {
  font-family: var(--font-family-1);
  color: var(--additional-font-color);
  text-transform: uppercase;
}

@media (max-width: 720px) {
  .main-footer {
    padding-top: 1.5em;
  }

  .footer-nav__item {
    margin-bottom: 1em;
  }

  .main-footer .social__list {
    margin-bottom: 1em;
  }
}

.footer-nav__link {
  text-decoration: none;
  color: inherit;
}

.footer-nav__link:hover {
  color: var(--primary-color);
}

.footer-nav__link:active {
  color: var(--secondary-color);
}

.footer__phone {
  font-size: 1.69230769rem;
  margin: 0;
}

.footer__phone > i {
  font-size: 1.23076923rem;
  margin: 0 0.0625em 0.75em;
}

.footer__copyright {
  background-color: var(--secondary-color);
  color: var(--white-font-color);
  padding: 0.76923077em;
  margin: 0;
  letter-spacing: -0.001em;
}

/* Social menu */

.social__list {
  font-size: 1.3846154rem;
  margin-bottom: 2.5555555556em;
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
}

.social__item_highlight {
  color: var(--primary-color);
}
.social__item:not(:first-child) {
  margin-left: 0.777777778em;
}
.social__link {
  color: inherit;
}

/* Utils */
.sr-only {
  display: block;
  width: 0.01em;
  height: 0.01em;
  overflow: hidden;
  text-indent: 10em;
  position: absolute;
  left: -770em;
}
