:root {
  --main-font-family: "Open Sans", sans-serif;
  --primary-color: #ffbb42;
  --secondary-color: #709dca;
  --main-font-color: #7b7b7b;
  --additional-font-color: #394b50;
  --form-font-color: #a9a9a9;
  --white-font-color: #fff;
  --menu-font-color: #868686;
  --simple-background-color: #e7edf3;
  --form-icon-color: #6e6e6e;
  --feedback-author-color-1: #99a9ae;
  --feedback-author-color-2: #f6772c;

  --font-family-1: Lato;
  --font-family-2: "Gotham Black";
  --font-family-3: "Brandon Grotesque";

  --common-border-radius: 0.1538em;

  box-sizing: border-box;
  font-family: var(--main-font-family);
  font-size: 13px;
  line-height: 1.76;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* clear */
body {
  margin: 0;
  padding: 0;
}

.main-nav__list,
.services__list,
.prices__list,
.footer-nav__list,
.clients__list,
.social__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

/* класс, опускающий футер вниз экрана */
.page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  display: block;
  width: 3.8462em;
  height: 3.8462em;
}

/* Typography */

.heading,
.subtitle {
  text-align: center;
}

.heading {
  margin-top: 0;
  margin-bottom: 2px;
  font-family: var(--font-family-2);
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.8px;
}

.subtitle {
  margin: 2px 0;
  font-family: var(--font-family-1);
  font-size: 18px;
  line-height: 1.2222;
  letter-spacing: -0.27px;
  color: var(--additional-font-color);
}

.heading + .subtitle {
  margin-top: -2px;
}

/* Button */

.button {
  display: inline-block;
  padding: 8px 20px 10px;
  border: initial;
  border-radius: var(--common-border-radius);
  cursor: pointer;
  font-family: var(--font-family-1);
  font-size: 14px;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.button_primary {
  background-color: var(--primary-color);
  color: var(--white-font-color);
}

.button_outline {
  border: 1px solid #e7ad48;
}

.button_outline:hover {
  border-color: var(--white-font-color);
}

.button_outline:active {
  border-color: var(--form-font-color);
}

/* Form */

.form {
  margin: 0;
  padding: 0;
}

.form__group {
  position: relative;
  margin: 0;
  color: var(--form-font-color);
}

.form_horizontal {
  display: flex;
  justify-content: center;
}

.form_horizontal > *:not(:first-child) {
  margin-left: 10px;
}

.form__icon {
  position: absolute;
  left: 15px;
  top: 16px;
  font-size: 15px;
  color: var(--form-icon-color);
}

.form__control {
  width: 100%;
  padding: 14px 1.5385em 15px 41px;
  border: initial;
  font-family: var(--main-font-family);
  font-size: 13px;
  line-height: 1.3;
  border-radius: var(--common-border-radius);
}

.form__control::placeholder {
  color: var(--main-font-color);
}

.form__control_bordered {
  border: 1px solid var(--form-font-color);
}

/* Slider */
.slider {
  width: 100%;
  overflow: hidden;
}

.slider__list {
  position: relative;
  left: 0;
  display: flex;
  padding: 0;
  margin: 0;
  transition: left 0.6s;
  list-style-type: none;
}

.slider__item {
  flex: 0 0 100%;
  text-align: center;
}

.slider__indicators {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 14px;
  padding: 0;
}

.slider__indicator {
  display: block;
  width: 15px;
  height: 15px;
  border: 0.1538em solid #dedfe0;
  border-radius: 50%;
  cursor: pointer;
}

.slider__indicator_active {
  border-color: #20aade;
}

.slider__indicator + .slider__indicator {
  margin-left: 9px;
}

.slider__cover {
  max-height: 345px;
}

/* Nav Menu */

.main-nav {
  padding: 1.55em 0 17px;

  font-family: var(--font-family-1);
  font-size: 13.5px;

  text-transform: uppercase;
}

.main-nav__wrap {
  display: flex;
}

.main-nav__list {
  display: flex;
  margin-top: 9px;
  margin-left: auto;
}

.main-nav__link {
  display: block;
  padding: 5px 19.4px 6px;

  border-radius: var(--common-border-radius);

  text-decoration: initial;
  color: var(--menu-font-color);
}

.main-nav__item_active > .main-nav__link {
  background-color: var(--primary-color);
  color: var(--white-font-color);
}

/* Promo section */

.promo {
  padding: 106px 0 35px;
  background: linear-gradient(
    to bottom,
    var(--secondary-color) 81.4%,
    var(--white-font-color) 18.6%
  );

  color: var(--white-font-color);
  text-align: center;
}

.promo__title {
  font-family: var(--font-family-2);
  font-size: 34px;
  letter-spacing: -0.25px;
  line-height: 1;
  text-transform: uppercase;
}

.promo__subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
}

.promo__title + .promo__subtitle {
  margin-top: 3px;
}

.promo__form {
  margin: 34px 0 65px;
  margin-right: 8px;
}

.promo__field {
  width: 281px;
}

.promo__submit {
  width: 211px;
}

/* services */

.services {
  padding: 65px 0 82px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
}

.services__item {
  flex: 1 0 40%;
  width: 50%;
  padding-left: 81px;
  position: relative;
  margin-bottom: 58.5px;
}

.services__item_highlight > .services__icon {
  color: var(--primary-color);
}

.services__item:nth-child(2n) {
  margin-left: 60px;
}

.services__name {
  margin-top: -5px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: var(--font-family-1);
  font-weight: bold;
}

.services__desc {
  line-height: 1.76;
}

.services__name + .services__desc {
  margin-top: -11px;
}

.services__icon {
  font-size: 45px;
  position: absolute;
  left: 0;
  top: 0;
  color: var(--secondary-color);
}

/* About section */
.about {
  position: relative;
  background-color: var(--primary-color);
  color: var(--white-font-color);
}

.about,
.about__title {
  text-align: left;
}

.about__cover {
  width: 50%;
  height: 625px;
  margin-left: auto;
  margin-right: 50%;
  text-align: right;
  overflow: hidden;
}

.about__image {
  display: block;
  margin-top: -11px;
}

.about__body {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  left: 50%;
  max-width: 45em;
  padding-top: 12.4em;
  padding-left: 6.15em;
}
.about__text {
  line-height: 1.85;
  margin-bottom: 30px;
}

.about__title + .about__text {
  margin-top: 15px;
}

.about__button {
  padding-left: 30px;
  padding-right: 30px;
}

/* Pricing section */

.prices {
  padding: 132px 0 163px;
  background-color: var(--simple-background-color);
}

.prices .subtitle + .prices__list {
  margin-top: 48px;
}

.prices__list {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.price-card {
  width: 33%;
  margin: 30px 0;
  padding: 43px 30px 45px;
  background-color: var(--white-font-color);
  border: 1px solid #ccd5df;
  border-radius: var(--common-border-radius);

  font-family: var(--font-family-1);
  font-weight: 300;
}

.price-card_highlight {
  width: calc(33% + 8px);
  margin: 0;
  padding-top: 73px;
  padding-bottom: 75px;

  border: 0;
  background-color: var(--secondary-color);

  color: var(--white-font-color);
}

.price-card__highlight .price-card__title,
.price-card_highlight .price-card__cost,
.price-card_highlight .price-card__frequency,
.price-card_highlight .price-card__adventages {
  color: inherit;
}

.price-card__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: inherit;
}

.price-card__cost {
  margin: 0;
  margin-bottom: 32px;
  margin-left: -8px;
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
  color: var(--primary-color);
}

.price-card__currency {
  position: relative;
  left: 5px;
  font-size: 35px;
}

.price-card__currency,
.price-card__frequency {
  margin: 0;
  font-weight: 300;
}

.price-card__frequency {
  display: block;
  margin-top: 3px;
  font-size: 13.5px;
  color: var(--main-font-color);
}

.price-card__adventages {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  color: #818b95;
  list-style-type: none;
}

.price-card__adventage {
  padding-top: 9px;
  padding-bottom: 8px;
  border-top: var(--simple-background-color) 1px solid;
}

/* Instructions section */
.instructions {
  padding: 152px 0;
  text-align: center;
}

.instructions__steps {
  margin-top: 75px;
}

/* Stepper */
.stepper {
  display: flex;
  margin-bottom: 75px;
  padding: 0 24px;
  list-style-type: none;
}

.stepper__item {
  position: relative;
}

.stepper__item + .stepper__item {
  margin-left: 75px;
}

.stepper__item + .stepper__item::before {
  content: " ";
  display: block;
  position: absolute;
  left: -110px;
  width: 130px;
  height: 70px;
  border-top: 2px dotted var(--secondary-color);
  border-radius: 50%;
}

.stepper__icon {
  font-size: 72px;
  color: var(--secondary-color);
}

.stepper__title {
  margin-top: 59px;
  margin-bottom: 9px;
  font-size: 20px;
  font-family: var(--font-family-1);
  text-transform: uppercase;
}

.stepper__title + .stepper__desc {
  margin-top: 12px;
}

/* Clients section */

.clients {
  padding: 137px 0 140px;
  background-color: var(--primary-color);
  color: var(--white-font-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
}

.clients__item {
  flex: 1 0 40%;
}

.clients__item:nth-child(2n) {
  margin-left: 34px;
}

/* Feedback */

.feedback {
  position: relative;
  margin-bottom: 20px;
  padding: 50px 30px 47px 183px;
  background-color: var(--white-font-color);
  color: var(--main-font-color);
}

.feedback__photo {
  position: absolute;
  left: 30px;
  top: 43px;
  width: 121px;
  height: 121px;
  border-radius: 50%;
  overflow: hidden;
}

.feedback__image {
  width: 110%;
}

.feedback__content {
  position: relative;
  margin: 0;
  margin-top: -4px;
  line-height: 1.69;
  /* quotes: "\2018""\2018""\201c""\201c"; */
}

.feedback__content::before,
.feedback__content::after {
  position: absolute;
  content: "\201c";
  font-size: 30px;
  font-weight: bold;
  font-family: var(--font-family-3);
}

.feedback__content::before {
  top: -15px;
  left: -20px;
}

.feedback__content::after {
  display: inline-block;
  transform: scale(-1, 1);
  left: 144px;
  bottom: -26px;
}

.feedback__author {
  margin: 0;
  margin-top: 17px;
  letter-spacing: 0.9px;
  color: var(--feedback-author-color-1);
  text-transform: uppercase;
}

.feedback__author-name {
  color: var(--feedback-author-color-2);
}

/* Contacts section */

.contacts {
  padding: 151px 0 286px;
  background-image: url("/images/logo.png"), url("/images/map.jpg");
  background-position: center 680px, center 340px;
  background-repeat: no-repeat;
}

.contacts__form {
  display: flex;
  margin-top: 37px;
  margin-bottom: 92px;
}

.contacts__field_name {
  width: 308px;
}

.contacts__field_email {
  width: 388px;
}

.contacts__submit {
  width: 218px;
}

.contacts__content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 280px;
  height: 280px;
  padding: 58px 70px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--additional-font-color);
  border-radius: 50%;
  text-align: center;
  color: var(--white-font-color);
}

.contacts__content::after {
  content: " ";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 14px solid var(--additional-font-color);
}

.contacts__title {
  margin: 0;
  margin-bottom: 6.5px;
  font-family: var(--font-family-1);
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;

  line-height: 1.85;
}

.contacts__email {
  color: var(--primary-color);
}

/* Footer section */

.main-footer {
  padding: 62px 0 0;
  border-top: 1px solid var(--main-font-color);
  text-align: center;
}

.footer-nav__list {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

.footer-nav__item {
  font-family: var(--font-family-1);
  color: var(--additional-font-color);
  text-transform: uppercase;
}

.footer-nav__item + .footer-nav__item {
  margin-left: 35px;
}

.footer-nav__link {
  text-decoration: none;
  color: inherit;
}

.footer-nav__link:hover {
  color: var(--primary-color);
}

.footer-nav__link:active {
  color: var(--secondary-color);
}

.footer__phone {
  font-size: 22px;
  margin: 0;
}

.footer__phone > i {
  font-size: 16px;
  margin: 0 1px 12px;
}

.footer__copyright {
  background-color: var(--secondary-color);
  color: var(--white-font-color);
  padding: 10px;
  margin: 0;
  letter-spacing: -0.3px;
}

/* Social menu */

.social__list {
  font-size: 18px;
  margin-bottom: 46px;
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
}

.social__item_highlight {
  color: var(--primary-color);
}
.social__item:not(:first-child) {
  margin-left: 14px;
}
.social__link {
  color: inherit;
}

/* Utils */
.sr-only {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-indent: 10em;
  position: absolute;
  left: -9999px;
}
